@font-face {
    font-family: "Tilda";  
    src: url("fonts/TildaSans-VF.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }
body{
    font-family: 'Tilda';
}
.layout{
    font-family: 'Tilda';
}
.top-header{

}
.hero-wrapper{

    background-image: url("./img/wrapper-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(132, 158, 176, 0.5);
    background-blend-mode: multiply;
}
.nav-a{
    color: #1A1B22;
    text-decoration: none;
}
.privacy {
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: 0.5px;
}